<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All About Brandon Lazcano-Guzman</title>
</head>
<body>
    <h1>

            All About Brandon Lazcano-Guzman
    </h1>


    <h2> Who is Brandon Lazcano-Guzman? </h2>
    <p> Brandon Lazcano-Guzman is a 22 year old student at the <strong>University of Maryland's
        Robert H.Smith School of Business</strong>. He is pursuing a double major in Finance and
        Information Systems. He is set to graduate in the <strong>Spring of 2024</strong>. Through
        his previous professional experience, he has developed a passion for leveraging medical data to create
        meaningful solutions. He is currently seeking full time positions with the healthcare/biopharma
        industry.
    </p>

    <h2> Professional Experience </h2>
        <p> Brandon Lazcano-Guzman has extensive experience working within financial planning. Having
            participated in three previous internships, he has been able to properly develop relevant
            soft and hard skills. Brandon has experience with analyzing large financial data sets, creating
            financial forecasts, developing data visualization dashboards and much more. In addition
            Brandon has received the Maryland Seal of Biliteracy for being fluent in <em>English</em> and
            <em>Spanish</em>. Brandon is a team player that would make a great addition to any firm.

        </p>
<!--The inclusion of the ordered lists makes it easier for the viewer to see what is Brandon's most recent
    place of employment. The viewer will know that 1 is most recent. -->

    <h2> Most Recent Employers</h2>
        <ol>
            <li> National Restaurant Association </li>
            <li> Astrazeneca </li>
            <li> Kaiser Permanente </li>
        </ol>

    <h2> Relevant Course Enrollment</h2>

    <!-- Table created to display the most relevant UMD courses that were taken by Brandon Lazcano-Guzman.
        Most adequate way to display the material. -->
        <table>
            <tr>
                <th> Course </th>
                <th> Semester </th>
            </tr>
            <tr>
                <td> BMGT443 </td>
                <td> Fall 2023 </td>
            </tr>
              <tr>
                <td> BMGT448 </td>
                <td> Spring 2023 </td>
            </tr>
            <tr>
                <td> BMGT440 </td>
                <td> Fall 2022 </td>
            </tr>
            <tr>
                <td> BMGT343 </td>
                <td> Fall 2022 </td>
            </tr>
        </table>


    <h2> Skills</h2>
        <ul>
            <li> Power BI </li>
            <li> Excel </li>
            <li> Python </li>
            <li> SQL </li>
            <li> Tableau </li>
            <li> Financial Modeling </li>
        </ul>

    <h2> Additional Information </h2>
        <p> Link to <a href="https://portal.bloombergforeducation.com/certificates/eRUP8WKgLEhC3R8iGXds3L9z">Bloomberg Certification</a>.</p>
        <p> Link to <a href="https://www.linkedin.com/in/brandon-lazcano-guzman/" target="_blank">LinkedIn</a>.</p>
        <p> Link to <a href="https://blazcanoguzman.pythonanywhere.com/hello/ " target="_blank"> my first website</a>.</p>
<!-- Target statement was added to so that the hyperlink can open up on a new web page. For the purpose of the viewer, it
would be easier if it didn't remove them from the current site and redirected them instead. -->
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
     width="267" height="72" alt="Smith Logo">
</body>
</html>